body {
    text-align: center;
    font-family: Arial;
    background: #f0f0f0;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #avatarContainer {
    width: 300px;
    height: 300px;
    margin: 40px auto;
  }
  
  
  